<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css"
    />
    <title>Compose-coffee</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <h1>Welcome to Best Coffee Shop</h1>
    <a class="admin-page" href="/admin"
      ><i class="hgi hgi-stroke hgi-user-account"></i> Admin Page</a
    >
  </body>
</html>
